// Images
// =====
.img-square,
.img-thumbnail,
.img-small,
.img-medium
	overflow: hidden
	max-width: 100%
	margin-bottom: $base-spacing

// Square
.img-square
	width: 75px
	height: 75px

.img-thumbnail
	width: 260px
	height: 140px

.img-small
	width: 320px
	height: 240px

.img-medium
	width: 500px
	height: 335px

.img-large
	width: 100%
	max-width: 850px
	height: auto
	max-height: 400px

	margin-bottom: $large-spacing

.img-banner
	width: 100%
	max-width: 1130px
	height: auto
	max-height: 420px

	margin-bottom: $large-spacing

.featured-img
	width: 100%
